*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=====Registration/Login start======*/
.login_section{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: no-repeat ;
  background-size: cover;
}
.wrapper{
  margin-top:50px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: -4px -4px 26px -4px;
}
.header{
  font-size:30px;
  font-family: sans-serif;
  font-weight: 600;
  color: #084177;
  text-align: center;
  text-transform: uppercase;
  margin-top:30px;
} 
.login-form{
  padding: 30px 40px;
} 
.login-form .label{
  font-size: 18px;
  margin: 10px 0;
  color:black;
}  
.login-form input{
  height: 40px;
  width: 400px;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid silver;
}
.login-form input:focus{
  transition: 0.3s;
  border: 1px solid #999999;
}
.login-form button {
  margin-top: 45px;
  height: 50px;
  width: 400px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  background: #E6739F;
  transition: 0.5s;
}
.login-form button:hover{
  background:#E58A8A ;
}
/*=====Registration/Login end======*/

/*=====Banner start======*/
.home{
  background: url(./../public/image/img.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home h5{
  font-family: sans-serif;
  font-weight: 600;
  color: #712B75;
}
.home h1{
  font-weight: 800;
  font-family: sans-serif;
  color: #FF8C8C;
}
.home p{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 200;
  color: black;
}
 .btn-1{
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #F54748;
  color: white;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  background-color: #999999;
}
/*=====Banner end======*/

.product .img-fluid{
  width: 300px;
  height: 300px;
}
.product{
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.product img{
  transition: 0.3s all;
}
.product:hover img{
  opacity: 0.7;
}
.product .btn-2{
  transform: rotateY(20px);
  opacity: 0;
  transition: 0.3s all;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #F54748;
  color: white;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}